:root{
  --side-button-background-color:#fb923c;
  --main-content-color:#525151;
}

html{
  background-color: #f3f4f6;;
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif,'SerifSans-serif','MonospaceCursive','fantasy';
}

.main-container{
  display: grid;
  grid-template-columns: 1fr 6fr;

}

.sidebar {
  display: grid;
  grid-template-rows: 150px 270px 50px 135px 705px;
  z-index: 2;

  overflow: hidden;
  background-color: var(--side-button-background-color);  
}

.sidebar > div{
  display: grid;
  grid-template-columns: 60px 80px;
  align-items: center;
  margin-left: 40px;

}

.dashboard-img,
h1{
  margin-bottom: 50px;
  cursor: pointer;
  transition: transform .2s;
}
img,p{
  transition: transform .2s;
}

.sidebar > div > img:hover,
 img:hover + h1{
  transform: scale(1.2);
}

.notification-icon:active,
 img:active + h1,
 .sidebar > div > img:active + p,
 img:active{
  transform: scale(0.8);
}

.sidebar > div > img:hover,
.sidebar > div > img + p:hover {
  transform: scale(1.2);
}


.sidebar > div:nth-child(3){
  grid-row: 4/5;
} 

.sidebar > div > p{
  font-size: 1.3rem;
  cursor: pointer;
}

.sidebar > div > img{
  width: 25px;
  cursor: pointer;
}

.sidebar > div:first-child > img{
  margin-left: -10px;
}

.sidebar > div:first-child > img{
  width: 50px;
}

.right-side{
  display: grid;
}

.header{
  display: grid;
  grid-template-rows: repeat(2,minmax(50px,1fr)) ;
  box-shadow: -20px -6px 20px 0px black,2100px -6px 3px 0px black;
  z-index: 1;
}

.first-header{
  display: grid;
  grid-template-columns:  1.6fr 1fr;
  align-items: center;
}

.notification-icon,
.search-icon{
  width: 30px;
  cursor: pointer;
}

.search-icon{
  justify-self: end;
}

.first-header > div:nth-child(1){
  display: grid;
  grid-template-columns:  0.3fr  3fr;
  align-items: center;
  column-gap: 40px;
}

label{
  display: grid;
}
 
input{
  border: none;
  border-radius: 30px;

  background-color: #e2e8f0;
  font-size: 1.3rem;
  padding: 0.7em;
}

input:focus{
  outline:none;
}

.first-header > div +div{
  display: grid;
  grid-template-columns: 1.5fr 0.68fr 1.5fr;
  align-items: center;
}

.notification-icon{
  justify-self: end;
}

.user-profile-pic{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  cursor: pointer;

  justify-self: center;
}

.first-header > div > p{
  font-weight: bold;
  font-size: 1.6rem;
  cursor: pointer;
}

.second-header{
  display: grid;
  grid-template-columns: 0.3fr 1.5fr  1fr;
  align-items: center;
  align-content: space-between;
  column-gap: 30px;

  font-weight: bold;
}

.user-name{
  margin-top: 13px;
}

.second-header > img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  justify-self: end;
}

.button-container{
  display: grid;
  grid-auto-flow: column;
}

button{
  background-color: var(--side-button-background-color);
  color:white;

  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  
  border: none;
  border-radius: 60px;
  margin-right: 80px;
}

button:active{
  transform: scale(0.97);
}

button:hover{
  opacity: 0.87;
}

.main-content{
  background-color: #f3f4f6;
  padding-top: 50px;
  padding-left: 50px;
}

.main-content >div:nth-child(1){  
  display: grid;
  grid-template-columns: 2fr 1fr ;

  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 9px;
} 

.main-content-grid{
  background-color: #f3f4f6;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(570px, 1fr));
  grid-template-rows:  repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card{
  width: 55ch;
  padding: 2em 5em 4em 2em;

  position: relative;
  background-color: white;
  border-left: blue solid 12px;
  border-radius: 8px;
  transition: transform .2s
}

.card:hover{
  transform: scale(1.02);
}

.card > h2{
  margin-top: 10px;
}

.card > p{
  color:var(--main-content-color);
  margin-top: 8px;
  font-size: 1.4rem;
}

.img-container{
  display: flex;
  justify-content: end;
  gap: 40px;
  position:absolute;
  bottom: 8%;
  right: 10%;
}

.img-container > img{
  width: 30px;
}

img{
  width: 20px;
  cursor: pointer;
}

.content-right-side{
  display: grid;
  grid-template-rows: 1.3fr 50px 1fr;
  gap: 25px;
  grid-template-columns: 500px;
}

.announcements-container{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 300px;
  justify-content: space-around;
  background-color: white;
  border-radius: 25px;
}

.announcements-container > div{
  background-color: white;
  border-bottom: solid 1px #dbd5d5 ;
}

.announcements-container > div:nth-child(3){
  border:none;
  padding-bottom: 15px;
}

h4{
  font-size: 1.3rem;
  margin-top: 50px;
}

.announcements-container > div > p{
  font-size: 1.1rem;
  color: var(--main-content-color);
}

.content-right-side > p{
  font-weight: 500;
  font-size: 2rem;
  align-self: end;
}

.users{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 400px;
  background-color: white;
  border-radius: 25px;
  justify-items: center;
}

.users > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: start;

}

.users > div > div{
  display: grid;
  gap: 5px;
}

.users > div > div > p{
  color: var(--main-content-color);
  cursor: pointer;

}

.profile-pic{
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  justify-self: center;
}
